body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
 background-image: url('https://codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 20px;
  font-family: monospace;
}
.form {
  display: flex;
  flex-direction: column;
  color: white;
  
}
p{
  color: white;
}
